<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New Measurment", new_measurment_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @measurments.each do |measurment| %>
         
         <tr>
            <td><%= measurment.name %></td>
            <td><%= link_to "Download Measurment", measurment.attachment_url %></td>
            <td><%= button_to "Delete",  measurment, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{measurment.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>